[include mainsail.cfg]
[include nozzle_wipe_macro.cfg]
[include slice_300_thermistor.cfg]
[include adxl345.cfg]
[include xyz_stepper.cfg]

[mcu]
serial: /dev/ttyAMA0
restart_method: command

[mcu rpi]
serial: /tmp/klipper_host_mcu

[input_shaper]
shaper_freq_x: 60.4
shaper_type_x: 3hump_ei
shaper_freq_y: 65.4
shaper_type_y: 3hump_ei

[printer]
kinematics: corexy
max_velocity: 350
max_accel: 2600
max_z_velocity: 50
max_z_accel: 350
square_corner_velocity: 10.0

[virtual_sdcard]
path: ~/gcode_files
    
[pause_resume]


#####################################################################
#   Extruder
#####################################################################

##	In E0-MOT Position
[extruder]
step_pin: PD5
dir_pin: PD6
enable_pin: !PD4

##	Update value below when you perform extruder calibration
##	If you ask for 100mm of filament, but in reality it is 98mm:
##	rotation_distance = <previous_rotation_distance> * <actual_extrude_distance> / 100
##  22.6789511 is a good starting point
rotation_distance: 21.77859674133	#Bondtech 5mm Drive Gears
##	Update Gear Ratio depending on your Extruder Type
##	Use 50:17 for Afterburner/Clockwork (BMG Gear Ratio)
##	Use 80:20 for M4, M3.1
gear_ratio: 50:17				#BMG Gear Ratio
microsteps: 16
full_steps_per_rotation: 200	#200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.75
##      In E0 OUT Position
heater_pin: PB15
##	Validate the following thermistor type to make sure it is correct
sensor_type: Slice300
sensor_pin: PC0
min_temp: 10
max_temp: 270
max_power: 1.0
min_extrude_temp: 170
#control = pid
#pid_kp = 26.213
#pid_ki = 1.304
#pid_kd = 131.721
##	Try to keep pressure_advance below 1.0
pressure_advance: 0.0
##	Default is 0.040, leave stock
pressure_advance_smooth_time: 0.040

##	In E0-MOT Position
##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 extruder]
uart_pin: PD7
interpolate: false
run_current: 0.5
hold_current: 0.4
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
#   Bed Heater
#####################################################################
[heater_bed]
##	SSR Pin - In BED OUT position
heater_pin: PB3
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: PC3
##	Adjust Max Power so your heater doesn't warp your bed
max_power: 0.6
min_temp: 0
max_temp: 120
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769

#####################################################################
#	Probe
#####################################################################

[probe]
##	Inductive Probe - If you use this section , please comment the [bltouch] section
##	This probe is not used for Z height, only Quad Gantry Leveling
##	In Z+ position
##	If your probe is NO instead of NC, add change pin to ^PA3
pin: ^PA3
x_offset: 0
y_offset: 25.0
z_offset: 0
speed: 10.0
samples: 3
samples_result: median
sample_retract_dist: 3.0
samples_tolerance: 0.006
samples_tolerance_retries: 3

#####################################################################
#	Fan Control
#####################################################################

[heater_fan hotend_fan]
##	Hotend Fan - FAN0 Connector
pin: PB0
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
##	If you are experiencing back flow, you can reduce fan_speed
#fan_speed: 1.0

[fan]
##	Print Cooling Fan - FAN1 Connector
pin: PB1
max_power: 0.4
kick_start_time: 0.5
##	Depending on your fan, you may need to increase this value
##	if your fan will not start. Can change cycle_time (increase)
##	if your fan is not able to slow down effectively
off_below: 0.10

[heater_fan controller_fan]
##	Controller fan - FAN2 Connector
pin: PB2
kick_start_time: 0.5
heater: heater_bed
heater_temp: 45.0

#####################################################################
# Enclosure Temp Sensor
#####################################################################
[thermistor chamber_temp]
temperature1: 25
resistance1: 10000
beta: 3950

[temperature_sensor chamber]
sensor_type: chamber_temp
sensor_pin: PC1
min_temp: 0
max_temp: 70

#[temperature_fan chamber]
#pin: PB2
#max_power: 1.0
#shutdown_speed: 0.0
#kick_start_time: 5.0
#cycle_time:0.01
#off_below:0.1
#sensor_type: NTC 100K beta 3950
#sensor_pin: PC2
#min_temp: 0
#max_temp: 70
#target_temp: 50.0
#control: watermark
#gcode_id: C

#[heater_fan exhaust_fan]
##  Exhaust fan - In E2 OUT Positon
#pin: PB3
#max_power: 1.0
#shutdown_speed: 0.0
#kick_start_time: 5.0
#heater: heater_bed
#heater_temp: 60
#fan_speed: 1.0

#####################################################################
#	Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 3600

[safe_z_home]
##	XY Location of the Z Endstop Switch
##	Location Definition step.
home_xy_position:228,350
speed:100
z_hop:10
   
[quad_gantry_level]
##	Use QUAD_GANTRY_LEVEL to level a gantry.
##	Min & Max gantry corners - measure from nozzle at MIN (0,0) and 
##	MAX (250, 250), (300,300), or (350,350) depending on your printer size
##	to respective belt positions

##	Gantry Corners for 350mm Build
##	Uncomment for 350mm build
gantry_corners:
	-60,-10
	410,420
##	Probe points
points:
	50,25
	50,275
	300,275
	300,25

#--------------------------------------------------------------------
speed: 100
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.0075
max_adjust: 10

#####################################################################
#	Macros
#####################################################################

[bed_mesh]
speed: 120
horizontal_move_z:5
mesh_min: 40, 40
mesh_max: 310,310
fade_start: 0.6
fade_end: 10.0
probe_count: 10,10
algorithm: bicubic
relative_reference_index: 12

[gcode_macro CAILIBRATE]
gcode:
    M140 S110                       ;  Set bed temp so it starts to heat
    M109 S241                       ;  Set and wait extruder temp
    M190 S110                       ;  Set and wait for bed temp
    BED_MESH_CLEAR
    G28
    CLEAN_NOZZLE
    QUAD_GANTRY_LEVEL
    G28
    BED_MESH_CALIBRATE

[gcode_macro G32]
gcode:
    G28
    G0 X175 Y175 Z30 F3600
[gcode_macro PRINT_START]
#   Use PRINT_START for the slicer starting script - please customise for your slicer of choice
gcode:
    G1 Z20 F3000                   ; move nozzle away from bed 

[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
gcode:
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-10.0 F3600                ; retract filament
    G91                            ; relative positioning
    G0 Z1.00 X20.0 Y20.0 F20000    ; move nozzle to remove stringing
    M107                           ; turn off fan
    G1 Z50 F3000                    ; move nozzle up 50mm
    G90                            ; absolute positioning
    G0  X125 Y250 F3600            ; park nozzle at rear
    
[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
gcode:
    ##### set defaults #####
    {% set x = params.X|default(230) %}      #edit to your park position
    {% set y = params.Y|default(230) %}      #edit to your park position
    {% set z = params.Z|default(10)|float %} #edit to your park position
    {% set e = params.E|default(1) %}        #edit to your retract length
    ##### calculate save lift position #####
    {% set max_z = printer.toolhead.axis_maximum.z|float %}
    {% set act_z = printer.toolhead.position.z|float %}
    {% set lift_z = z|abs %}
    {% if act_z < (max_z - lift_z) %}
        {% set z_safe = lift_z %}
    {% else %}
        {% set z_safe = max_z - act_z %}
    {% endif %}
    {%set min_extrude_temp = printer.configfile.settings["extruder"]["min_extrude_temp"]|int %}
    {%set act_extrude_temp = printer.extruder.temperature|int %}
    ##### end of definitions #####
    PAUSE_BASE
    G91
    {% if act_extrude_temp > min_extrude_temp %}
      G1 E-{e} F2100
    {% else %}
      {action_respond_info("Extruder not hot enough")}
    {% endif %}
    {% if "xyz" in printer.toolhead.homed_axes %}    
      G1 Z{z_safe}
      G90
      G1 X{x} Y{y} F6000
    {% else %}
      {action_respond_info("Printer not homed")}
    {% endif %}

[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
gcode:
    ##### set defaults #####
    {% set e = params.E|default(1) %} #edit to your retract length
    {%set min_extrude_temp = printer.configfile.settings["extruder"]["min_extrude_temp"]|int %}
    {%set act_extrude_temp = printer.extruder.temperature|int %}
    #### get VELOCITY parameter if specified ####
    {% if 'VELOCITY' in params|upper %}
      {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
    {%else %}
      {% set get_params = "" %}
    {% endif %}
    ##### end of definitions #####
    G91
    {% if act_extrude_temp > min_extrude_temp %}
      G1 E{e} F2100
    {% else %}
      {action_respond_info("Extruder not hot enough")}
    {% endif %}  
    RESUME_BASE {get_params}

[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
gcode:
    CLEAR_PAUSE
    SDCARD_RESET_FILE
    CANCEL_PRINT_BASE


[gcode_macro TIMELAPSE_TAKE_FRAME]
gcode:
    {action_call_remote_method("timelapse_newframe")}

[gcode_macro UNLOAD_FILAMENT]
gcode:
    M83
    G1 E10 F100
    G1 E-50 F450
    M82

[gcode_macro LOAD_FILAMENT]
gcode:
    M83
    G1 E40 F100
    M82


## 	Thermistor Types
##   "EPCOS 100K B57560G104F"
##   "ATC Semitec 104GT-2"
##   "NTC 100K beta 3950"
##   "Honeywell 100K 135-104LAG-J01"
##   "NTC 100K MGB18-104F39050L32" (Keenovo Heater Pad)
##   "AD595"
##   "PT100 INA826"

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 26.404
#*# pid_ki = 1.796
#*# pid_kd = 97.035
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 39.807
#*# pid_ki = 1.389
#*# pid_kd = 285.120
#*#
#*# [stepper_z]
#*# position_endstop = 2.200
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.010000, 0.002500, -0.005000, 0.010000, -0.000000, 0.002500, -0.010000, -0.002500, -0.015000, -0.007500
#*# 	0.000000, 0.010000, 0.005000, 0.012500, 0.005000, 0.007500, -0.005000, 0.000000, -0.010000, -0.010000
#*# 	-0.007500, -0.002500, -0.005000, 0.007500, -0.002500, 0.000000, -0.010000, -0.005000, -0.017500, -0.015000
#*# 	0.002500, 0.007500, 0.002500, 0.015000, 0.005000, 0.012500, 0.000000, 0.010000, -0.005000, -0.002500
#*# 	-0.015000, -0.010000, -0.010000, 0.000000, -0.012500, 0.000000, -0.007500, -0.002500, -0.015000, -0.010000
#*# 	-0.005000, -0.002500, -0.007500, 0.005000, -0.007500, 0.000000, -0.005000, 0.000000, -0.012500, -0.010000
#*# 	-0.017500, -0.015000, -0.017500, -0.002500, -0.015000, -0.005000, -0.017500, -0.010000, -0.025000, -0.017500
#*# 	-0.005000, -0.002500, -0.005000, 0.005000, -0.005000, 0.002500, -0.012500, -0.002500, -0.017500, -0.010000
#*# 	0.002500, 0.005000, 0.000000, 0.012500, 0.005000, 0.012500, -0.002500, 0.010000, -0.007500, -0.002500
#*# 	0.015000, 0.015000, 0.005000, 0.020000, 0.012500, 0.022500, 0.012500, 0.022500, 0.007500, 0.010000
#*# tension = 0.2
#*# min_x = 40.0
#*# algo = bicubic
#*# y_count = 10
#*# mesh_y_pps = 2
#*# min_y = 40.0
#*# x_count = 10
#*# max_y = 310.0
#*# mesh_x_pps = 2
#*# max_x = 310.0
