[include mainsail.cfg]
[include xyz_stepper.cfg]
[include extruder.cfg]
[include bed_heater.cfg]
[include macros.cfg]
##
[include nozzle_wipe_macro.cfg]
[include slice_300_thermistor.cfg]
[include adxl345.cfg]

[mcu]
serial: /dev/ttyAMA0
restart_method: command

[mcu rpi]
serial: /tmp/klipper_host_mcu

[input_shaper]
shaper_freq_x: 60.4
shaper_type_x: 3hump_ei
shaper_freq_y: 65.4
shaper_type_y: 3hump_ei

[printer]
kinematics: corexy
max_velocity: 350
max_accel: 2600
max_z_velocity: 50
max_z_accel: 350
square_corner_velocity: 10.0

[virtual_sdcard]
path: ~/gcode_files
    
[pause_resume]

#####################################################################
#	Probe
#####################################################################

[probe]
##	Inductive Probe - If you use this section , please comment the [bltouch] section
##	This probe is not used for Z height, only Quad Gantry Leveling
##	In Z+ position
##	If your probe is NO instead of NC, add change pin to ^PA3
pin: ^PA3
x_offset: 0
y_offset: 25.0
z_offset: 0
speed: 10.0
samples: 3
samples_result: median
sample_retract_dist: 3.0
samples_tolerance: 0.006
samples_tolerance_retries: 3

#####################################################################
#	Fan Control
#####################################################################

[heater_fan hotend_fan]
##	Hotend Fan - FAN0 Connector
pin: PB0
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
##	If you are experiencing back flow, you can reduce fan_speed
#fan_speed: 1.0

[fan]
##	Print Cooling Fan - FAN1 Connector
pin: PB1
max_power: 0.4
kick_start_time: 0.5
##	Depending on your fan, you may need to increase this value
##	if your fan will not start. Can change cycle_time (increase)
##	if your fan is not able to slow down effectively
off_below: 0.10

[heater_fan controller_fan]
##	Controller fan - FAN2 Connector
pin: PB2
kick_start_time: 0.5
heater: heater_bed
heater_temp: 45.0

#####################################################################
# Enclosure Temp Sensor
#####################################################################
[thermistor chamber_temp]
temperature1: 25
resistance1: 10000
beta: 3950

[temperature_sensor chamber]
sensor_type: chamber_temp
sensor_pin: PC1
min_temp: 0
max_temp: 70

#####################################################################
#	Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 3600

[safe_z_home]
##	XY Location of the Z Endstop Switch
##	Location Definition step.
home_xy_position:228,350
speed:100
z_hop:10
   
[quad_gantry_level]
##	Use QUAD_GANTRY_LEVEL to level a gantry.
##	Min & Max gantry corners - measure from nozzle at MIN (0,0) and 
##	MAX (250, 250), (300,300), or (350,350) depending on your printer size
##	to respective belt positions

##	Gantry Corners for 350mm Build
##	Uncomment for 350mm build
gantry_corners:
	-60,-10
	410,420
##	Probe points
points:
	50,25
	50,275
	300,275
	300,25
#--------------------------------------------------------------------
speed: 100
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.0075
max_adjust: 10


## 	Thermistor Types
##   "EPCOS 100K B57560G104F"
##   "ATC Semitec 104GT-2"
##   "NTC 100K beta 3950"
##   "Honeywell 100K 135-104LAG-J01"
##   "NTC 100K MGB18-104F39050L32" (Keenovo Heater Pad)
##   "AD595"
##   "PT100 INA826"

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 26.404
#*# pid_ki = 1.796
#*# pid_kd = 97.035
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 39.807
#*# pid_ki = 1.389
#*# pid_kd = 285.120
#*#
#*# [stepper_z]
#*# position_endstop = 2.200
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.010000, 0.002500, -0.005000, 0.010000, -0.000000, 0.002500, -0.010000, -0.002500, -0.015000, -0.007500
#*# 	0.000000, 0.010000, 0.005000, 0.012500, 0.005000, 0.007500, -0.005000, 0.000000, -0.010000, -0.010000
#*# 	-0.007500, -0.002500, -0.005000, 0.007500, -0.002500, 0.000000, -0.010000, -0.005000, -0.017500, -0.015000
#*# 	0.002500, 0.007500, 0.002500, 0.015000, 0.005000, 0.012500, 0.000000, 0.010000, -0.005000, -0.002500
#*# 	-0.015000, -0.010000, -0.010000, 0.000000, -0.012500, 0.000000, -0.007500, -0.002500, -0.015000, -0.010000
#*# 	-0.005000, -0.002500, -0.007500, 0.005000, -0.007500, 0.000000, -0.005000, 0.000000, -0.012500, -0.010000
#*# 	-0.017500, -0.015000, -0.017500, -0.002500, -0.015000, -0.005000, -0.017500, -0.010000, -0.025000, -0.017500
#*# 	-0.005000, -0.002500, -0.005000, 0.005000, -0.005000, 0.002500, -0.012500, -0.002500, -0.017500, -0.010000
#*# 	0.002500, 0.005000, 0.000000, 0.012500, 0.005000, 0.012500, -0.002500, 0.010000, -0.007500, -0.002500
#*# 	0.015000, 0.015000, 0.005000, 0.020000, 0.012500, 0.022500, 0.012500, 0.022500, 0.007500, 0.010000
#*# tension = 0.2
#*# min_x = 40.0
#*# algo = bicubic
#*# y_count = 10
#*# mesh_y_pps = 2
#*# min_y = 40.0
#*# x_count = 10
#*# max_y = 310.0
#*# mesh_x_pps = 2
#*# max_x = 310.0
